h1{
	text-shadow: white 1px 0 10px;
}

h3{
	text-shadow: yellowgreen 1px 0 10px;
}

body{
    background-color: #CCFFFF;
}


h1{
    background-color: greenyellow;
}
p{
    font-weight: bold;
    border: solid;
    border-color: purple;
    background-color: white;
    width: 1300px;
    word-wrap: break-word;
}


a{
    font-weight: bold;    
    background-color: white;
}

    a:link {
        color: red;
     }
      
      a:visited {
        color: purple;
      }
      
      a:hover {
        text-decoration: none;
    }