body{
    background-color: #CCFFFF;
}

h1{
    background-color: greenyellow;
}
p{
    font-weight: bold;
    border: solid;
    border-color: purple;
    background-color: white;
}

a{
    font-weight: bold;    
    background-color: white;
}

    a:link {
        color: red;
     }
      
      a:visited {
        color: purple;
      }
      
      a:hover {
        text-decoration: none;
    }