
body{
    background-color: bisque;
    font-weight: bold;
}

p{
    font-weight: bold;
}

div{
    border: 3px black solid;
    border-collapse: collapse;
    background-color: white;
}


h2{
    color: green;
}

table.t2{
    margin: 50px;
}

table{
    
    border: 3px black solid;
    border-collapse: collapse;
}


th,td{
    border: 1px black solid;
}

th{
   background-color: yellow;
}

td{
    background-color: white;
}